/* Основной стиль*/
#InformationSquare
{
	border-radius:10px;
	background: #19191a;
	height: 700px;
	width: 500px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

/* Это что-то на подобии создания облости для работы */
.MainSquare
{
	text-align: center;
	background: transparent;
	width: 480px;
	margin-left: auto;
	margin-right: auto;
}