/* Основной стиль*/
#InformationSquare
{
	border-radius:10px;
	background: #19191a;
	border-right: 2px solid #434343; 
  border-bottom: 2px solid #434343; 
  border-left: 2px solid #434343;
	width: 520px;
	margin: auto;
	margin: auto;
}

/* Это что-то на подобии создания облости для работы */
.MainSquare
{
	text-align: center;
	background: transparent;
	width: 480px;
	margin: auto;
	margin: auto;
}