/* Основной стиль*/
#InformationSquare
{
	border-radius:10px;
	background: #19191a;
	width: 520px;
	margin: auto;
	margin: auto;
}

/* Это что-то на подобии создания облости для работы */
.MainSquare
{
	text-align: center;
	width: 480px;
	margin: auto;
	margin: auto;
}