.MyNeonStyleSpanPick 
{
	margin: 0px 10px 0px 10px;
	font-family: 'SofiaSansSemiCondensedPublishingPhotosFont', sans-serif;
	font-size: 10em;
  color: #ffdbf1;
	text-shadow: 0 0 20px #fe019a;
  animation: neonPick 6s infinite alternate;
}

.MyNeonStyleSpanBlue 
{
	margin: 0px 10px 0px 10px;
	font-family: 'SofiaSansSemiCondensedPublishingPhotosFont', sans-serif;
	font-size: 10em;
  color: #d2f8ff;
	text-shadow: 0 0 20px #04d9ff;
  animation: neonBlue 9s infinite alternate;
}

@keyframes neonPick 
{
	0%, 18%, 22%, 25%, 53%, 57%, 100% 
	{
		text-shadow:
			0 0 13px #ffdbf1,
			0 0 14px #ffdbf1,
			0 0 15px #ffdbf1,
			0 0 16px #fe019a,
			0 0 17px #fe019a,
			0 0 18px #fe019a,
			0 0 19px #fe019a,
			0 0 20px #fe019a;
	}

	20%, 24%, 55% 
	{        
		text-shadow: none;
	}    
}

@keyframes neonBlue 
{
	0%, 18%, 22%, 25%, 53%, 57%, 100% 
	{
		text-shadow:
			0 0 12px #d2f8ff,
			0 0 13px #d2f8ff,
			0 0 14px #d2f8ff,
			0 0 15px #04d9ff,
			0 0 16px #04d9ff,
			0 0 17px #04d9ff,
			0 0 18px #04d9ff,
			0 0 20px #04d9ff;
	}

	20%, 24%, 55% 
	{        
		text-shadow: none;
	} 
}