@font-face 
{
    font-family: 'Jura';
    src: url(../ContentFolder/FontFoler/Jura.ttf);
}


#OtherLogoText
{
    font-size: 40px;
    font-family: 'Jura', sans-serif;
    color: #f5f5f5;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.MainText
{
    font-size: 20px;
    font-family: 'Consolas', sans-serif;
    color: #f5f5f5;
    text-align: center;
}

.IconText
{
    font-size: 20px;
    font-family: 'Consolas', sans-serif;
    color: #f5f5f5;
    text-align: center;
}