/* Создание шрифта из папки в проект */
@font-face 
{
	font-family: 'MyJura';
	src: url(../ContentFolder/FontFoler/Jura.ttf);
}

@font-face 
{
	font-family: 'MyMaterialDesignIconicFont';
	src: url(../ContentFolder/FontFoler/Material-Design-Iconic-Font.ttf);
}

/* Стиль для логотипа */
#OtherLogoText
{
	font-size: 40px;
	font-family: 'MyJura', sans-serif;
	color: #f5f5f5;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

/* Основной стиль */
.MainText
{
	font-size: 20px;
	font-family: 'Consolas', sans-serif;
	color: #f5f5f5;
	text-align: center;
}

/* Стиль иконок */
.IconText
{
	font-size: 30px;
	font-family: 'MyMaterialDesignIconicFont', sans-serif;
	color: #f5f5f5;
	text-align: center;
}